$manila-color: #FBDAAD;
$manila-border-color: #333;
/*
div.character-sheet {
  .panel {
    border:0;
    background: transparent
  }
  .panel-body, .list-group {
    background-color: $manila-color;
    border: 1px solid $manila-border-color !important;
  }
  .panel-heading {
    background-color: $manila-color;
    border:1px solid $manila-border-color;
    border-bottom:0;
    display:inline-block;
    margin-bottom:-1
  }
  .list-group-item {
    background-color: $manila-color;
    border-color: $manila-border-color;
  }
}
*/
